<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 扫描控制器代码 -->
    <context:component-scan base-package="org.liangxiong.demo.spring.controller"/>

    <!--
        The mvc:annotation-driven registers a RequestMappingHandlerMapping, a RequestMappingHandlerAdapter,
        and an ExceptionHandlerExceptionResolver (among others) in support of processing
        requests with annotated controller methods using annotations such as @RequestMapping,
        @ExceptionHandler, and others
      -->
    <mvc:annotation-driven enable-matrix-variables="true"/>

    <!--
        配置视图解析(InternalResourceViewResolver应该放在chain的最后一个，因为它必定返回view)
        Thus, putting an InternalResourceViewResolver in the chain in a place other than the last
        results in the chain not being fully inspected,
        because the InternalResourceViewResolver will always return a view!
    -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 跨域配置 -->
    <mvc:cors>
        <mvc:mapping path="/*" allowed-origins="*" allowed-headers="*" allowed-methods="*" allow-credentials="true"
                     max-age="1800"/>
    </mvc:cors>

</beans>